CREATE OR REPLACE FUNCTION match_shopify_chunks(query_embedding vector, store_id_param text, match_count int)
RETURNS TABLE(id bigint, chunk_text text, similarity float, store_id text, content_type text, title text, metadata jsonb)
AS $$
SELECT id, chunk_text, 1 - (embedding <=> query_embedding) as similarity, store_id, content_type, title, metadata
FROM shopify_chunks
WHERE store_id = store_id_param
ORDER BY embedding <=> query_embedding
LIMIT match_count;
$$ LANGUAGE sql;
